<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      国内最安！石膏像専門ショッピングサイト
    </h2>
    <p class='service-explain'>
      クレカ決済＆全国発送可能！
    </p>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <div class="subtitle" >
  
    </div>
    <ul class='item-lists'>
     <% @items.each do |item| %>
<%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
<li class='list'>
  <%= link_to item_path(item) do %>
  <div class='item-img-content'>
    <%= image_tag item.image.variant(resize: '500x500'), class: "item-img" %>

  </div>
  <div class='item-info'>
    <%# //商品が売れていればsold outを表示 %>
    <% if item.order != nil %>
     <div class='sold-out'>
       <span>売り切れ</span>
     </div>
    <% end %>  
    <%# //商品が売れていればsold outを表示 %>

    <h3 class='item-name'>
      <%= item.name %>
    </h3>
    <div class='item-price'>
      <span><%= item.price %>円<br></span>
      <div class='star-btn'>
        <%= image_tag "star.png", class:"star-icon" %>
        <span class='star-count'>0</span>
      </div>
    </div>
  </div>
  <% end %>
</li>
<%# //商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
 <% end %>
      <%# 商品がない場合は以下のダミー商品が表示されるようにしましょう %>
      <%# 商品がある場合は表示されないようにしましょう %>
        <% if @items[0] == nil %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
       <% end %>
      <%# //商品がある場合は表示されないようにしましょう %>
      <%# //商品がない場合は以下のダミー商品が表示されるようにしましょう %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to(new_item_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>