<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">

<div class="item-img-content">
  <%= image_tag @item.images[0].variant(resize: '500x500'), id:"main-image" ,class:"item-box-img" %>

  <div class="other-images">
    <% @item.images[1..-1].each do |image| %>
      <div class="other-image">
        <%= image_tag image.variant(resize: '200x200'), class:"thumbnail", data: { src: url_for(image) } %>
      </div>
    <% end %>
  </div>
        
      <%# 商品が売れている場合は、sold outを表示 %>
      <% if @item.order != nil %>
      <div class="sold-out2">
        <span>売り切れ</span>
      </div>
      <% end %>
      <%# //商品が売れている場合は、売り切れを表示 %>
    </div>
        <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class="item-price-box">
      <span class="item-price">
        <%= @item.price %>円
      </span>
      <span class="item-postage">
        <%= @item.shipping_charge.name %>
      </span>
    </div>

    <%# ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
  <% if user_signed_in? %>
   <% if current_user.id == @item.user_id && @item.order.nil?%> 
     <%= link_to "商品の編集", edit_item_path, method: :get, class: "item-red-btn" %>
      <p class="or-text">or</p>
     <%= link_to "削除", "#", method: :delete, class:"item-destroy" %>
     
    <% elsif @item.order.present? %>
     <%= link_to "",item_path(@item) %>

   <% else %>
    <%= link_to "購入画面に進む", item_orders_path(@item) ,class:"item-red-btn"%>
     <% end %>
   <% end %>

    <%# //ログインしているユーザーと出品しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
   <div class="setsumei">
   <h2>商品の説明</h2>
   </div>
    <div class="item-explain-box">
      <span><%= @item.description %></span>
    </div>
    <table class="detail-table">
      <tbody>

        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.item_condition.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送について</th>
          <td class="detail-value"><%= @item.shipping_charge.name %></td>
        </tr>

      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "cart.png" ,class:"cart-icon" ,width:"20",height:"20"%>
<%= link_to "カートに入れる", add_to_cart_item_path(@item), method: :post %>
      </div>

    </div>
  </div>
  <%# /商品の概要 %>

<br>

      <div class="item_comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
         <% if user_signed_in? %>
          <%= form_with(model: [@item, @comment], local: true) do |f|%>
            <div class="field">
             
              <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "質問する", class: :form__btn  %>
            </div>
            <% if @comment.errors.any? %>
  <div class="error-message">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
          <% end %>
        <% end %> 
        <%# // ログインしているユーザーには上記を表示する %>
        <div class="comment_form">
        <ul class="comments_lists">
          <%# コメントを一覧 %>
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.content %>
              <%= comment.user.nickname %>
            </li>
           <% end %>
          <%# // コメント一覧 %>
        </ul>
      </div>
</div>

</div>

<%= render "shared/footer" %>
